# Jupyterlab下简单接触 R 语言

承接 1-basic-envir/1-get-started.ipynb 最后一段话中关于R的部分，打开本文件后，将kernel选为R即可运行下面的代码。

这里稍微给几个R语言的例子。日常积累。首先，是安装R包。这里以USGS 的 dataRetrieval 为例子，如果还未执行过下面句子，就取消注释，运行即可。代码主要参考了[这里](https://usgs-r.github.io/dataRetrieval/articles/tutorial.html)

In [1]:
install.packages(c("dplyr","dataRetrieval","ggplot2","tidyr","RColorBrewer","EGRET", "rmarkdown", "geoknife"))

将程序包安装入'C:/Users/hust2/OneDrive/Documents/R/win-library/4.1'
(因为'lib'没有被指定)

还安装相依关系'dotCall64', 'gridExtra', 'cli', 'spam', 'viridis', 'maps', 'iterators', 'sass', 'rlang', 'vctrs', 'fields', 'truncnorm', 'foreach', 'bslib', 'xfun', 'whisker', 'sp'

package 'dotCall64' successfully unpacked and MD5 sums checked
package 'gridExtra' successfully unpacked and MD5 sums checked
package 'cli' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'cli'"
Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"拷贝C:\Users\hust2\OneDrive\Documents\R\win-library\4.1\00LOCK\cli\libs\x64\cli.dll到C:\Users\hust2\OneDrive\Documents\R\win-library\4.1\cli\libs\x64\cli.dll时出了问题：Permission denied "
Warning message:
"restored 'cli'"

package 'spam' successfully unpacked and MD5 sums checked
package 'viridis' successfully unpacked and MD5 sums checked
package 'maps' successfully unpacked and MD5 sums checked
package 'iterators' successfully unpacked and MD5 sums checked
package 'sass' successfully unpacked and MD5 sums checked
package 'rlang' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'rlang'"
Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"拷贝C:\Users\hust2\OneDrive\Documents\R\win-library\4.1\00LOCK\rlang\libs\x64\rlang.dll到C:\Users\hust2\OneDrive\Documents\R\win-library\4.1\rlang\libs\x64\rlang.dll时出了问题：Permission denied "
Warning message:
"restored 'rlang'"

package 'vctrs' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'vctrs'"
Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"拷贝C:\Users\hust2\OneDrive\Documents\R\win-library\4.1\00LOCK\vctrs\libs\x64\vctrs.dll到C:\Users\hust2\OneDrive\Documents\R\win-library\4.1\vctrs\libs\x64\vctrs.dll时出了问题：Permission denied "
Warning message:
"restored 'vctrs'"

package 'fields' successfully unpacked and MD5 sums checked
package 'truncnorm' successfully unpacked and MD5 sums checked
package 'foreach' successfully unpacked and MD5 sums checked
package 'bslib' successfully unpacked and MD5 sums checked
package 'xfun' successfully unpacked and MD5 sums checked
package 'whisker' successfully unpacked and MD5 sums checked
package 'sp' successfully unpacked and MD5 sums checked
package 'dplyr' successfully unpacked and MD5 sums checked
package 'dataRetrieval' successfully unpacked and MD5 sums checked
package 'ggplot2' successfully unpacked and MD5 sums checked
package 'tidyr' successfully unpacked and MD5 sums checked
package 'RColorBrewer' successfully unpacked and MD5 sums checked
package 'EGRET' successfully unpacked and MD5 sums checked
package 'rmarkdown' successfully unpacked and MD5 sums checked
package 'geoknife' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\hust2\AppData\Local\Temp\RtmpYrW3mc\downloaded_packages

R中使用包前，同样需要先导入。

In [2]:
library(dataRetrieval)

Warning message:
"程辑包'dataRetrieval'是用R版本4.1.3 来建造的"

In [3]:
MauiCo_avgdailyQ <- readNWISdata(stateCd="Hawaii", countyCd="Maui", service="dv", parameterCd="00060")

In [4]:
head(MauiCo_avgdailyQ)

  agency_cd site_no  dateTime   X_00060_00003 X_00060_00003_cd tz_cd
1 USGS      16400000 2022-05-26  3.62         P                UTC
2 USGS      16401000 1929-08-31 18.00         A                UTC
3 USGS      16402000 1957-07-31 51.00         A                UTC
4 USGS      16403000 1957-06-30  5.50         A                UTC
5 USGS      16403600 1970-09-30  2.40         A                UTC
6 USGS      16403900 1996-09-30  1.30         A                UTC

指定站点id来读取数据看看。

In [5]:
# Choptank River near Greensboro, MD
siteNumber <- "01491000" 
ChoptankInfo <- readNWISsite(siteNumber)
parameterCd <- "00060"

#Raw daily data:
rawDailyData <- readNWISdv(siteNumber,parameterCd, "2010-01-01","2011-01-01")
head(rawDailyData)

  agency_cd site_no  Date       X_00060_00003 X_00060_00003_cd
1 USGS      01491000 2010-01-01 415           A
2 USGS      01491000 2010-01-02 425           A
3 USGS      01491000 2010-01-03 334           A
4 USGS      01491000 2010-01-04 268           A
5 USGS      01491000 2010-01-05 241           A
6 USGS      01491000 2010-01-06 224           A

In [6]:
siteNo <- "01491000"
pCode <- "00060"
start.date <- "2010-01-03"
end.date <- "2010-01-03"

pheasant <- readNWISuv(siteNumbers = siteNo,
                     parameterCd = pCode,
                     startDate = start.date,
                     endDate = end.date)

In [7]:
names(pheasant)

[1] "agency_cd"        "site_no"          "dateTime"         "X_00060_00000"
[5] "X_00060_00000_cd" "tz_cd"

In [8]:
head(pheasant)

  agency_cd site_no  dateTime            X_00060_00000 X_00060_00000_cd tz_cd
1 USGS      01491000 2010-01-03 05:00:00 389           A                UTC
2 USGS      01491000 2010-01-03 05:15:00 386           A                UTC
3 USGS      01491000 2010-01-03 05:30:00 386           A                UTC
4 USGS      01491000 2010-01-03 05:45:00 382           A                UTC
5 USGS      01491000 2010-01-03 06:00:00 382           A                UTC
6 USGS      01491000 2010-01-03 06:15:00 379           A                UTC

可以注意到每天的数据并不是从0点开始的，也不是到0点结束的，因为美国各地时区不同，为了统一，在日期表示上，统一采用了UTC时间，而上例中的 Choptank River near Greensboro, MD 时区是美东时区，当地早上5点是UTC的0点。所以当输入是UTC 0点时候，就是从当地5点开始计算的。因此，日均值也是基于当地时间的。

做一些简单的统计，可以看看summary。

In [9]:
summary(pheasant)

  agency_cd           site_no             dateTime
 Length:96          Length:96          Min.   :2010-01-03 05:00:00
 Class :character   Class :character   1st Qu.:2010-01-03 10:56:15
 Mode  :character   Mode  :character   Median :2010-01-03 16:52:30
                                       Mean   :2010-01-03 16:52:30
                                       3rd Qu.:2010-01-03 22:48:45
                                       Max.   :2010-01-04 04:45:00
 X_00060_00000   X_00060_00000_cd      tz_cd
 Min.   :307.0   Length:96          Length:96
 1st Qu.:313.0   Class :character   Class :character
 Median :320.5   Mode  :character   Mode  :character
 Mean   :334.3
 3rd Qu.:356.8
 Max.   :389.0