# Pandas基础

该部分主要参考[Pandas中文网](https://www.pypandas.cn/docs/)和[官方用户手册](https://pandas.pydata.org/pandas-docs/stable/index.html)。

Pandas是一个开源的，为Python编程语言提供高性能，易于使用的**数据结构**和**数据分析工具**。

因此这部分的记录主要思路就是围绕数据结构和分析工具两方面来展开。

Pandas适合处理多种不同类型的数据：

- 不同类型的数据列组成的表格数据；
- 有序或无序的时间序列数据；
- 带行列标签的类型相同或不同的行或列组成的矩阵数据；
- 任意形式的观测或统计数据，它们不需标记即可放入pandas数据结构中。 

其运算都主要都围绕两类数据结构展开，Series和Dataframe，接下来从它们开始记录。

Series(1维)和DataFrame(2维)能处理绝大多数的典型应用，包括金融、统计、社科、工程等各个领域。
 
对于R用户，DataFrame提供了所有R的data.frame提供的，并且还有更多。

pandas建立在NumPy之上，也整合了很多第三方库，打造了良好的科学计算环境。

pandas处理的经典问题包括且不限于：

- 处理缺失数据，用NaN表示；
- 数据结构大小可变：可以插入删除DataFrame或者更高维对象的列；
- 自动且明确的data alignment，可以明确指定数据到一系列标签下；
- 灵活数据分组，很容易聚合转换数据；
- 容易将杂乱、标签复杂的Python和NumPy数据结构转换为DataFrame对象；
- 根据标签容易slicing,indexing和subsetting大数据集；
- 容易合并和连接数据集；
- 灵活地reshaping和pivoting数据集；
- 多级标签；
- 从各类文件中加载数据, 包括HDF5格式的数据；
- 时间序列指定的功能：日期范围生成和频率转换,滑动窗口的统计, 滑动线性回归, 日期平移或滞后等。

在数据处理的各个环节，包括变换和清洗数据，分析建模，组织分析结果为正式的格式，可视化和输出数据等，pandas都能很好地处理。

## Pandas数据结构

最好的理解Pandas数据结构的方式是将其当做其更低维数据的容器，比如Series是标量数据的容器，Dataframe是Series的容器。
可以通过类似字典的方式从容器中插入或移除对象。

pandas中为了更直观地给出数据结构不同维度的信息，更多用index和columns，而不是使用axis0和1这样来表示。例如：

``` python
for col in df.columns:
    series = df[col]
    # do something with series
```

pandas所有数据结构都是值可变的，但不总是size可变的。比如Series的长度是不可变的，但是Dataframe中是可以插入列的。
绝大多数方法都会产生新的对象，而不改变原输入数据。一般来说，pandas喜欢保持不可变性。

### Series与Dataframe

#### 初始化

基本上来说，是利用numpy的数组为值依据，用columns和index给列和行起名。

In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot
# 创建一个空的 DataFrame
df_empty = pd.DataFrame(columns=['A', 'B', 'C', 'D'])
print(df_empty)
df = pd.DataFrame({"a": range(3), "b": range(3), "c": range(3)})
print(df)
# 使用numpy数组，命名行列进行初始化
df2 = pd.DataFrame(np.arange(16).reshape((4,4)), columns=['one', 'two', 'three', 'four'], index=['a', 'b', 'c','d'])
print(df2)
# 带时间序列的dataframe的初始化
time_range = pd.date_range('2011-1-1', periods=4, freq='D')
df2.index = time_range
print(df2)
time_range = pd.date_range('2011-1-1', '2011-1-4', freq='D')
df2.columns = time_range
print(df2)

Empty DataFrame
Columns: [A, B, C, D]
Index: []
   a  b  c
0  0  0  0
1  1  1  1
2  2  2  2
   one  two  three  four
a    0    1      2     3
b    4    5      6     7
c    8    9     10    11
d   12   13     14    15
            one  two  three  four
2011-01-01    0    1      2     3
2011-01-02    4    5      6     7
2011-01-03    8    9     10    11
2011-01-04   12   13     14    15
            2011-01-01  2011-01-02  2011-01-03  2011-01-04
2011-01-01           0           1           2           3
2011-01-02           4           5           6           7
2011-01-03           8           9          10          11
2011-01-04          12          13          14          15

#### 索引

In [16]:
import numpy as np
import pandas as pd

ser = pd.Series(np.arange(3.))

data = pd.DataFrame(np.arange(16).reshape(4,4),index=list('abcd'),columns=list('wxyz'))

data['w']  #选择表格中的'w'列，使用类字典属性,返回的是Series类型

data.w    #选择表格中的'w'列，使用点属性,返回的是Series类型

data[['w']]  #选择表格中的'w'列，返回的是DataFrame属性

data[['w','z']]  #选择表格中的'w'、'z'列

data[0:2]  #返回第1行到第2行的所有行，前闭后开，包括前不包括后

data[1:2]  #返回第2行，从0计，返回的是单行，通过有前后值的索引形式，
       #如果采用data[1]则报错

data.iloc[1:2] #返回第2行的第三种方法，返回的是DataFrame，跟data[1:2]同

data['a':'b']  #利用index值进行切片，返回的是**前闭后闭**的DataFrame, 

data.head()  #返回data的前几行数据，默认为前五行，需要前十行则dta.head(10)
data.tail()  #返回data的后几行数据，默认为后五行，需要后十行则data.tail(10)


data.iloc[-1]   #选取DataFrame最后一行，返回的是Series
data.iloc[-1:]   #选取DataFrame最后一行，返回的是DataFrame

data.loc['a',['w','x']]   #返回‘a’行'w'、'x'列，这种用于选取行索引列索引已知

data.iat[1,1]   #选取第二行第二列，用于已知行、列位置的选取。

5

#### 切片／拼接等操作

In [4]:
"""几列字符串拼为一列字符串"""
# 结构很简单: 第一列的名称.str.cat(第二列的名称)
df['a'] = df.iloc[:, 0].apply(str) + "-" + df['b'].apply(str) + "-" + df['b'].apply(str)
# 拼接之后，只留下特定的几列
df = df[['a', 'c']]
print(df)

# 取出某列的第几行
print(df['a'][0])
# df行数
print(df.shape[0])

"""多个Series拼接"""
# 初始化的时候不起名，后面rename没有用
a = pd.Series([1, 2], name='aa')
rng1 = pd.date_range('2011-1-1', periods=2, freq='D')
a.index = rng1
print(a)
b = pd.Series([2, 3, 4])
rng2 = pd.date_range('2011-1-2', periods=3, freq='D')
b.index = rng2
c = pd.Series([5, 6])
rng3 = pd.date_range('2011-1-1', periods=2, freq='D')
c.index = rng3
series1 = pd.concat([a, b], axis=1)
# 拼接时，给各列取名
print(series1)
df2 = pd.concat([series1, c], axis=1)
print(df2)

"""重新命名各列"""
new_col = ['new1', 'new2', 'new3']
df2.columns = new_col
print(df2)

"""交换列的位置"""
order = ['new2', 'new1', 'new3']
df2 = df2[order]
print(df2)

"""取dataframe指定多行列 slice操作"""
# 取多行
print(df2.iloc[0:2])
# 取多列
print(df2.iloc[:, 0:2])
# 取多行多列
print(df2.iloc[0:2, 0:2])
# 行用数字取，列用名字取
print(df2.iloc[0:2]['new1'])

"""按日期取值并处理"""
print(df2)
print(type(df2.index))
print('---------获取2011年前两天的数据-----------')
# 获取某段日期内的数据
print(df2['2011-01-01':'2011-01-02'])

"""给Series作slice操作"""
arr = [1, 2, 3, 4]  # 创建数组
series_1 = pd.Series(arr)
series_1.index = ['a', 'b', 'c', 'd']
print("------------------Series查询操作----------------------")
print(series_1['a'])
print(series_1[['a', 'b']])
print(series_1[series_1 > 2])
print(series_1[:2])
print(series_1['a':'c'])

       a  c
0  0-0-0  0
1  1-1-1  1
2  2-2-2  2
0-0-0
3
2011-01-01    1
2011-01-02    2
Freq: D, Name: aa, dtype: int64
             aa    0
2011-01-01  1.0  NaN
2011-01-02  2.0  2.0
2011-01-03  NaN  3.0
2011-01-04  NaN  4.0
             aa    0    0
2011-01-01  1.0  NaN  5.0
2011-01-02  2.0  2.0  6.0
2011-01-03  NaN  3.0  NaN
2011-01-04  NaN  4.0  NaN
            new1  new2  new3
2011-01-01   1.0   NaN   5.0
2011-01-02   2.0   2.0   6.0
2011-01-03   NaN   3.0   NaN
2011-01-04   NaN   4.0   NaN
            new2  new1  new3
2011-01-01   NaN   1.0   5.0
2011-01-02   2.0   2.0   6.0
2011-01-03   3.0   NaN   NaN
2011-01-04   4.0   NaN   NaN
            new2  new1  new3
2011-01-01   NaN   1.0   5.0
2011-01-02   2.0   2.0   6.0
            new2  new1
2011-01-01   NaN   1.0
2011-01-02   2.0   2.0
2011-01-03   3.0   NaN
2011-01-04   4.0   NaN
            new2  new1
2011-01-01   NaN   1.0
2011-01-02   2.0   2.0
2011-01-01    1.0
2011-01-02    2.0
Freq: D, Name: new1, dtype: float64
            new2  new1  new3
2011-01-01   NaN   1.0   5.0
2011-01-02   2.0   2.0   6.0
2011-01-03   3.0   NaN   NaN
2011-01-04   4.0   NaN   NaN
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
---------获取2011年前两天的数据-----------
            new2  new1  new3
2011-01-01   NaN   1.0   5.0
2011-01-02   2.0   2.0   6.0
------------------Series查询操作----------------------
1
a    1
b    2
dtype: int64
c    3
d    4
dtype: int64
a    1
b    2
dtype: int64
a    1
b    2
c    3
dtype: int64

#### 分组

对dataframe进行分组的例子。

In [5]:
salaries = pd.DataFrame({
    'name': ['BOSS', 'Lilei', 'Lilei', 'Han', 'BOSS', 'BOSS', 'Han', 'BOSS'],
    'Year': [2016, 2016, 2016, 2016, 2017, 2017, 2017, 2017],
    'Salary': [999999, 20000, 25000, 3000, 9999999, 999999, 3500, 999999],
    'Bonus': [100000, 20000, 20000, 5000, 200000, 300000, 3000, 400000]
})
print(salaries.columns)
print(salaries.info())
print(salaries.describe())
salaries = salaries[['name', 'Year', 'Salary', 'Bonus']]
# 定顺序
print(salaries)
# 对dataframe按name进行分组
group_by_name = salaries.groupby('name')
# 获取分组后的某一组
se_temp = group_by_name.get_group('Lilei')
print(se_temp)
print(se_temp.describe())
# 循环各组，并将名字在给定的序列中的group添加到数组中
config = pd.Series({'names': ['Lilei', 'BOSS']})
dfs = []
for name, group in group_by_name:
    print(name)
    if name in config['names']:
        dfs.append(group)

for i in range(len(dfs)):
    # 如果没有把name和group分开，那么dfs[i]的类型会是tuple，key为name，value是group，可参考接下来的输出
    print(type(dfs[i]))
    print(dfs[i])

# 如果没有把name和group分开，那么dfs[i]的类型会是tuple，key为name，value是group
dfs_s = []
for group in group_by_name:
    dfs_s.append(group)
for i in range(len(dfs_s)):
    print(type(dfs_s[i]))
    print(dfs_s[i])

Index(['name', 'Year', 'Salary', 'Bonus'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
name      8 non-null object
Year      8 non-null int64
Salary    8 non-null int64
Bonus     8 non-null int64
dtypes: int64(3), object(1)
memory usage: 384.0+ bytes
None
              Year        Salary          Bonus
count     8.000000  8.000000e+00       8.000000
mean   2016.500000  1.631437e+06  131000.000000
std       0.534522  3.416521e+06  152851.935826
min    2016.000000  3.000000e+03    3000.000000
25%    2016.000000  1.587500e+04   16250.000000
50%    2016.500000  5.124995e+05   60000.000000
75%    2017.000000  9.999990e+05  225000.000000
max    2017.000000  9.999999e+06  400000.000000
    name  Year   Salary   Bonus
0   BOSS  2016   999999  100000
1  Lilei  2016    20000   20000
2  Lilei  2016    25000   20000
3    Han  2016     3000    5000
4   BOSS  2017  9999999  200000
5   BOSS  2017   999999  300000
6    Han  2017     3500    3000
7   BOSS  2017   999999  400000
    name  Year  Salary  Bonus
1  Lilei  2016   20000  20000
2  Lilei  2016   25000  20000
         Year        Salary    Bonus
count     2.0      2.000000      2.0
mean   2016.0  22500.000000  20000.0
std       0.0   3535.533906      0.0
min    2016.0  20000.000000  20000.0
25%    2016.0  21250.000000  20000.0
50%    2016.0  22500.000000  20000.0
75%    2016.0  23750.000000  20000.0
max    2016.0  25000.000000  20000.0
BOSS
Han
Lilei
<class 'pandas.core.frame.DataFrame'>
   name  Year   Salary   Bonus
0  BOSS  2016   999999  100000
4  BOSS  2017  9999999  200000
5  BOSS  2017   999999  300000
7  BOSS  2017   999999  400000
<class 'pandas.core.frame.DataFrame'>
    name  Year  Salary  Bonus
1  Lilei  2016   20000  20000
2  Lilei  2016   25000  20000
<class 'tuple'>
('BOSS',    name  Year   Salary   Bonus
0  BOSS  2016   999999  100000
4  BOSS  2017  9999999  200000
5  BOSS  2017   999999  300000
7  BOSS  2017   999999  400000)
<class 'tuple'>
('Han',   name  Year  Salary  Bonus
3  Han  2016    3000   5000
6  Han  2017    3500   3000)
<class 'tuple'>
('Lilei',     name  Year  Salary  Bonus
1  Lilei  2016   20000  20000
2  Lilei  2016   25000  20000)

### pandas与numpy数据结构之间的转换

pandas转为numpy比较简单，直接调用value即转为ndarray。反过来，也很容易，直接用pandas的类型，相当于直接初始化了。

In [21]:
# pandas dataframe与numpy array之间的转换
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
print(df)
# df转换为ndarray
array_from_df=df.values
print(array_from_df)
print(np.array(df))
# 读取某一列数据，两种方式均可
print(df['A'])
print(df.loc[:, 'A'])
# 一列数据转换为ndarray
print(np.array(df['A']))
# Series转ndarray
# Creating the Series
sr = pd.Series(['New York', 'Chicago', 'Toronto', 'Lisbon', 'Rio'])
# Create the Index
index_ = ['City 1', 'City 2', 'City 3', 'City 4', 'City 5']
# set the index
sr.index = index_
# return numpy array representation
result = sr.values
# Print the result
print("series转为ndarray：")
print(result)
# Print the series
print(sr)

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9
[[1 4 7]
 [2 5 8]
 [3 6 9]]
[[1 4 7]
 [2 5 8]
 [3 6 9]]
0    1
1    2
2    3
Name: A, dtype: int64
0    1
1    2
2    3
Name: A, dtype: int64
[1 2 3]
series转为ndarray：
['New York' 'Chicago' 'Toronto' 'Lisbon' 'Rio']
City 1    New York
City 2     Chicago
City 3     Toronto
City 4      Lisbon
City 5         Rio
dtype: object

## Pandas数据分析

从数据读取、处理、分析和可视化及输出几个方面展开。

### IO工具

对于csv文件和txt文件，都可以通过pandas的read_csv()函数读取。

In [5]:
from io import StringIO, BytesIO

data = ('col1,col2,col3\n'
         'a,b,01\n'
         'a,b,02\n'
         'c,d,03')
print(data)
print(pd.read_csv(StringIO(data)))
# 读取数据的时候即进行slice
print(pd.read_csv(StringIO(data), usecols=range(0,2)))
print(pd.read_csv(StringIO(data), usecols=lambda x: x.upper() in ['COL1', 'COL3']))
print(pd.read_csv(StringIO(data), skiprows=lambda x: x % 2 != 0))

col1,col2,col3
a,b,01
a,b,02
c,d,03
  col1 col2  col3
0    a    b     1
1    a    b     2
2    c    d     3
  col1 col2
0    a    b
1    a    b
2    c    d
  col1  col3
0    a     1
1    a     2
2    c     3
  col1 col2  col3
0    a    b     2

"""专业方面，很多数据都是把年月或者年旬或者年日分别当做行和列，在计算时，需要进行处理，把时间变为一列或一行，即把几列或行的数组拼接起来
即将[1 2;2 3]的数据变为[1 2 2 3]，pandas的concat和numpy的concatenate类似。最后把行名index统一换成日期，构成时间序列Series"""

In [6]:
# 如果遇到“UnicodeDecodeError: 'utf8' codec can't decode byte....”错误，用记事本另存csv文件时，将“编码”设置为‘UTF-8’即可
dataset = pd.read_csv('Sheet1.csv')
print(dataset)
# header指定某行的值作为各列的列名，1表示第二行，如果是None，则从第一行开始就是数据。
dataset = pd.read_csv('Sheet1.csv', header=1)
print(dataset)
# 因为给定的数据格式，各人有各自的一套，所以具体情况具体分析。比如，这里dataset的第一列可以去掉，即得到所有数据，删除列时，用drop函数，加参数axis=1，不加则表示删除行
dataset1 = dataset.drop(['旬平均'], axis=1)
print(dataset1)
df = pd.DataFrame({"a": range(3), "b": range(3), "c": range(3)})
# iloc获取的数据格式为Series
se = df.iloc[:, 0]
# 获取dataframe的列数：df.shape[1]
for i in range(1, df.shape[1]):
    print("拼接第" + str(i) + "列:")
    se_temp = df.iloc[:, i]
    se = pd.concat([se, se_temp])
    print(se)
# 如果一开始没有给series起名，比如从csv读取出来时是dataframe，拼接之后没办法再给Series起名，但是又需要给它起名，那么只能采取重新构造一个series的方式来命名
se = pd.Series(se, name="aaaaaaa")
print(se)
# 把每行名称换为日期
print("index换为日期：")
rng = pd.date_range('2011-1-1', periods=9, freq='H')
print(rng)
se.index = rng
se = pd.Series(se, name="bbbbb")
print(se)

                                     旬流量   单位:m3/s
旬平均   1970 1971 1972 1973 1974 1975           1976
1月上旬  946  958  1030 900  861  1060            975
1月中旬  895  908  969  895  885  1030            890
1月下旬  891  947  891  916  868  958             885
2月上旬  887  1050 933  885  993  967             914
2月中旬  919  1060 991  926  927  1030            909
2月下旬  1060 1150 1120 967  1100 1150           1090
3月上旬  1040 1150 967  949  937  1260            974
3月中旬  1160 1260 1230 961  980  1340           1130
3月下旬  1210 1110 1170 973  1080 1300           1100
4月上旬  1410 1180 1330 1350 1730 1500           1420
4月中旬  1770 1370 1500 1440 1840 1330           1790
4月下旬  1700 1330 1870 1160 1740 1390           1610
5月上旬  2510 2030 2020 2230 2410 2180           2290
5月中旬  4460 1870 2350 2680 2510 2440           2100
5月下旬  2720 2690 2950 2670 2860 2480           3240
6月上旬  3030 3400 3030 3590 2700 2380           3560
6月中旬  2300 3610 3250 6400 3280 3760           3470
6月下旬  2860 5380 4390 6100 5320 4150           5040
7月上旬  5010 4450 4810 7680 5430 5120           5920
7月中旬  5360 4990 5390 6130 4150 4670           6560
7月下旬  7090 3840 8030 3490 6650 9660           4330
8月上旬  6830 3460 3710 3920 5270 5710           4870
8月中旬  5750 7080 1910 3020 5180 6370           4170
8月下旬  4030 3760 3300 4910 6160 2990           6900
9月上旬  2620 2510 2330 3060 5130 7670           4520
9月中旬  2380 2990 2280 4500 5300 4840           4220
9月下旬  2760 3580 2120 2790 4960 3480           5060
10月上旬 2510 3710 1760 2260 2510 3460           2880
10月中旬 2620 3790 2110 2640 2780 4270           4550
10月下旬 2060 3390 1990 2470 2570 3270           3670
11月上旬 1780 2120 1280 1910 1990 2580           2070
11月中旬 1630 1820 1410 1480 1920 2440           1920
11月下旬 1400 1470 1210 1280 1530 1680           1450
12月上旬 1220 1210 1070 1130 1390 1380           1190
12月中旬 1150 1180 993  1160 1260 1310           1050
12月下旬 1050 1060 917  913  1060 1070           1110
      旬平均  1970  1971  1972  1973  1974  1975  1976
0    1月上旬   946   958  1030   900   861  1060   975
1    1月中旬   895   908   969   895   885  1030   890
2    1月下旬   891   947   891   916   868   958   885
3    2月上旬   887  1050   933   885   993   967   914
4    2月中旬   919  1060   991   926   927  1030   909
5    2月下旬  1060  1150  1120   967  1100  1150  1090
6    3月上旬  1040  1150   967   949   937  1260   974
7    3月中旬  1160  1260  1230   961   980  1340  1130
8    3月下旬  1210  1110  1170   973  1080  1300  1100
9    4月上旬  1410  1180  1330  1350  1730  1500  1420
10   4月中旬  1770  1370  1500  1440  1840  1330  1790
11   4月下旬  1700  1330  1870  1160  1740  1390  1610
12   5月上旬  2510  2030  2020  2230  2410  2180  2290
13   5月中旬  4460  1870  2350  2680  2510  2440  2100
14   5月下旬  2720  2690  2950  2670  2860  2480  3240
15   6月上旬  3030  3400  3030  3590  2700  2380  3560
16   6月中旬  2300  3610  3250  6400  3280  3760  3470
17   6月下旬  2860  5380  4390  6100  5320  4150  5040
18   7月上旬  5010  4450  4810  7680  5430  5120  5920
19   7月中旬  5360  4990  5390  6130  4150  4670  6560
20   7月下旬  7090  3840  8030  3490  6650  9660  4330
21   8月上旬  6830  3460  3710  3920  5270  5710  4870
22   8月中旬  5750  7080  1910  3020  5180  6370  4170
23   8月下旬  4030  3760  3300  4910  6160  2990  6900
24   9月上旬  2620  2510  2330  3060  5130  7670  4520
25   9月中旬  2380  2990  2280  4500  5300  4840  4220
26   9月下旬  2760  3580  2120  2790  4960  3480  5060
27  10月上旬  2510  3710  1760  2260  2510  3460  2880
28  10月中旬  2620  3790  2110  2640  2780  4270  4550
29  10月下旬  2060  3390  1990  2470  2570  3270  3670
30  11月上旬  1780  2120  1280  1910  1990  2580  2070
31  11月中旬  1630  1820  1410  1480  1920  2440  1920
32  11月下旬  1400  1470  1210  1280  1530  1680  1450
33  12月上旬  1220  1210  1070  1130  1390  1380  1190
34  12月中旬  1150  1180   993  1160  1260  1310  1050
35  12月下旬  1050  1060   917   913  1060  1070  1110
    1970  1971  1972  1973  1974  1975  1976
0    946   958  1030   900   861  1060   975
1    895   908   969   895   885  1030   890
2    891   947   891   916   868   958   885
3    887  1050   933   885   993   967   914
4    919  1060   991   926   927  1030   909
5   1060  1150  1120   967  1100  1150  1090
6   1040  1150   967   949   937  1260   974
7   1160  1260  1230   961   980  1340  1130
8   1210  1110  1170   973  1080  1300  1100
9   1410  1180  1330  1350  1730  1500  1420
10  1770  1370  1500  1440  1840  1330  1790
11  1700  1330  1870  1160  1740  1390  1610
12  2510  2030  2020  2230  2410  2180  2290
13  4460  1870  2350  2680  2510  2440  2100
14  2720  2690  2950  2670  2860  2480  3240
15  3030  3400  3030  3590  2700  2380  3560
16  2300  3610  3250  6400  3280  3760  3470
17  2860  5380  4390  6100  5320  4150  5040
18  5010  4450  4810  7680  5430  5120  5920
19  5360  4990  5390  6130  4150  4670  6560
20  7090  3840  8030  3490  6650  9660  4330
21  6830  3460  3710  3920  5270  5710  4870
22  5750  7080  1910  3020  5180  6370  4170
23  4030  3760  3300  4910  6160  2990  6900
24  2620  2510  2330  3060  5130  7670  4520
25  2380  2990  2280  4500  5300  4840  4220
26  2760  3580  2120  2790  4960  3480  5060
27  2510  3710  1760  2260  2510  3460  2880
28  2620  3790  2110  2640  2780  4270  4550
29  2060  3390  1990  2470  2570  3270  3670
30  1780  2120  1280  1910  1990  2580  2070
31  1630  1820  1410  1480  1920  2440  1920
32  1400  1470  1210  1280  1530  1680  1450
33  1220  1210  1070  1130  1390  1380  1190
34  1150  1180   993  1160  1260  1310  1050
35  1050  1060   917   913  1060  1070  1110
拼接第1列:
0    0
1    1
2    2
0    0
1    1
2    2
dtype: int64
拼接第2列:
0    0
1    1
2    2
0    0
1    1
2    2
0    0
1    1
2    2
dtype: int64
0    0
1    1
2    2
0    0
1    1
2    2
0    0
1    1
2    2
Name: aaaaaaa, dtype: int64
index换为日期：
DatetimeIndex(['2011-01-01 00:00:00', '2011-01-01 01:00:00',
               '2011-01-01 02:00:00', '2011-01-01 03:00:00',
               '2011-01-01 04:00:00', '2011-01-01 05:00:00',
               '2011-01-01 06:00:00', '2011-01-01 07:00:00',
               '2011-01-01 08:00:00'],
              dtype='datetime64[ns]', freq='H')
2011-01-01 00:00:00    0
2011-01-01 01:00:00    1
2011-01-01 02:00:00    2
2011-01-01 03:00:00    0
2011-01-01 04:00:00    1
2011-01-01 05:00:00    2
2011-01-01 06:00:00    0
2011-01-01 07:00:00    1
2011-01-01 08:00:00    2
Freq: H, Name: bbbbb, dtype: int64

当csv中包含了大量的编号代码，比如是002开头的编号——002111， 使用pd.read_csv('text.csv') 则会让所有的002xxx，变成了2xxx，前面2个0不见了，因为作为数值类型，没有必要保留0。

因此，为了保持编号的字符串特性，直接在参数一栏设置一下即可：
df＝pd.read_csv('text.csv', dtype={'code':str}
 
这样，把你要转换的列的名字设定好， “code”列中的数据读取为str，用列名或者列序号均可。
 
这样，读取到的数据就是按照我们的要求的了。

In [7]:
dataset = pd.read_csv(StringIO(data),dtype={2:str})
print(dataset)
dataset = pd.read_csv(StringIO(data),dtype={'col3':str})
print(dataset)

  col1 col2 col3
0    a    b   01
1    a    b   02
2    c    d   03
  col1 col2 col3
0    a    b   01
1    a    b   02
2    c    d   03


### Prepare Data

#### 修改名称

包括列名和行名，行一般又称index；列名也称field。

总体上可以分为在读数据时修改和读后修改两种。

具体的，行的修改方法有多种，参考：[重命名dataframe的index](https://blog.csdn.net/sinat_35930259/article/details/79872577)；列名的修改方法也有多种，参考[Pandas中修改DataFrame列名](http://www.voidcn.com/article/p-wycobfgd-bqs.html)

In [8]:
# 给出所有列名，这里类型是Index，可以直接转为list
print(dataset.columns)
columns=dataset.columns.tolist()
print(columns)
# 转换后，每个元素直接就是字符串了
print(type(columns[0]))
# 修改列名的常用方式,inplace为false的话，还需要赋值到dataset，因此直接设置为true
dataset.rename(columns={'col1':'a', 'col2':'b', 'col3':'c'}, inplace = True)
print(dataset)
# 修改index行名

Index(['col1', 'col2', 'col3'], dtype='object')
['col1', 'col2', 'col3']
<class 'str'>
   a  b   c
0  a  b  01
1  a  b  02
2  c  d  03

#### Slice

切片包括横向切，纵向切，即选取某些行，选取某些列的操作。dataframe的切片操作很容易，记住灵活运用其index的功能即可，第一维是行，第二维是列，定位使用loc，数值定位用iloc。

In [9]:
# 取行直接用index即可
print(dataset.loc[0:1,:])
print("注意因为行名是0-1-2，所以loc和iloc略有不同")
print(dataset.iloc[0:1,:])
# 取列用field
print("列操作")
print(dataset.loc[:,'c'])
columns=['a','c']
print(dataset.loc[:,columns])

   a  b   c
0  a  b  01
1  a  b  02
注意因为行名是0-1-2，所以loc和iloc略有不同
   a  b   c
0  a  b  01
列操作
0    01
1    02
2    03
Name: c, dtype: object
   a   c
0  a  01
1  a  02
2  c  03

#### 数据类型转换

参考[Pandas数据类型转换的几个小技巧](https://zhuanlan.zhihu.com/p/35287822)

Pandas中进行数据类型转换有三种基本方法：

- 使用astype()函数进行强制类型转换
- 自定义函数进行数据类型转换
- 使用Pandas提供的函数如to_numeric()、to_datetime()

In [8]:
dataset['col3'].astype('float')

0    1.0
1    2.0
2    3.0
Name: col3, dtype: float64

当待转换列中含有不能转换的特殊值时(例如￥,ErrorValue,14n等)astype()函数将失效。
astype()函数有效的情形：

- 数据列中的每一个单位都能简单的解释为数字(2, 2.12等）
- 数据列中的每一个单位都是数值类型且向字符串object类型转换

Pandas的astype()函数和复杂的自定函数之间有一个中间段，那就是Pandas的一些辅助函数。这些辅助函数对于某些特定数据类型的转换非常有用(如to_numeric()、to_datetime())。

#### 数据操作

包括旋转、连接等。

In [11]:
# 返回列数：
print(dataset.shape[1])
# 返回行数：
print(dataset.shape[0])
# factorize(values[, sort, order, …])	Encode the object as an enumerated type or categorical variable.
labels, uniques = pd.factorize(['b', 'b', 'a', 'c', 'b'])
print(labels)
uniques

3
3
[0 0 1 2 0]

array(['b', 'a', 'c'], dtype=object)

- [ ] Analyze Data

### Pandas绘图

In [ ]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
print(ts)
pyplot.plot(ts.index, ts.values, color='red', label='testing accuracy')
pyplot.show()